<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>History of the Super Bowl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/dictionary">History of the Super Bowl</a>
            <a href="/" title="Home">
            <img class="nav-NFL" src="http://static.nfl.com/static/content/public/photo/2018/10/18/0ap3000000975686.jpg">

            <a class="navbar-brand" href="/map">
              <a href="/map" title="Past Super Bowl Locations">
              <img class="Map-NFL" src="https://cdn.unifiedcommerce.com/content/product/large/nfl-map-09543.jpg">
                
            <a class="navbar-brand" href="/attendance">
              <a href="/attendance" title="Attendance">
              <img class="Attendance-NFL" src="https://a4.espncdn.com/combiner/i?img=%2Fphoto%2F2017%2F0720%2Fr234278_3_1167x657_16%2D9.png&w=920&h=518&scale=crop&cquality=80&location=origin&format=jpg">
            
            <a class="navbar-brand" href="/winlose">
              <a href="/winlose" title="Wins and Losses">
              <img class="WinsandLoses-NFL" src="static/images/Screenshot_20200121-151840_Gallery.jpg">
            </a>
                    
        </div>
      </div>
    </nav>
  

    <div class="hero text-center">
      <h1>THE SUPER BOWL</h1>
      <p>The Winner is Out There</p>
    </div>
    
        
    <footer class="footer">
      <p>.............................</p>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="static/js/attendance.js"></script>
  <script src="static/js/config.js"></script>
  <script src="static/js/map.js"></script>
  <script src="static/js/winner.js"></script>
</body>

</html>